spring:
  security:
    oauth2:
      client:
        registration:
          cognito:
            clientId: <CLIENT_ID>
            clientSecret: <CLIENT_SECRET>
            clientName: <CLIENT_NAME>
        provider:
          cognito:
            issuerUri: https://cognito-idp.<REGION>.amazonaws.com/<POOL_ID>
            user-info-uri: https://<SUB_DOMAIN>.auth.<REGION>.amazoncognito.com/oauth2/userInfo